################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RPGTestC/v15
/bin/Debug/b
/bin/Debug/g
/bin/Debug/1
/bin/Debug/ф
